@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Caveat";
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: #222;
    color: #FFF;
}

/* INPUTS */
.banner {
    width:100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox {
    position: relative;
    width: 300px;
}

.inputBox input {
    width: 300px;
    padding: 10px;
    border: 1px solid #D99414;
    background: #222;
    outline: none;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.5s;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 16px;
    transition: 0.5s;
    color: #d7d8d4;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    transform: translateX(10px) translateY(-13px);
    background-color: #222;
    padding: 2px 10px;
    border: 1px solid #D99414;
    font-size: 16px;
    border-radius: 5px;
}

/* CARDS */
.cards-container {
    margin: 10px 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cards-container .card {
    width: 300px;
    background-color: #222;
    border: 1px solid #D99414;
    border-radius: 10px;
}

.cards-container .card .img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.cards-container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards-container .card .title-card {
    margin: 10px;
    text-align: center;
    text-shadow: 2px -2px #d7d8d4;
    color: #000;
    font-size: 24px;
}

.cards-container .card p {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    color: #D99414;
    font-size: 16px;
    text-shadow: 1px -1px 1px #000;
}

.cards-container .card p span {
    color: #000;
    font-weight: 400;
    margin-left: 8px;
}

.cards-container .card button {
    margin: 10px auto;
    background: /* Gradient in Hex */
    linear-gradient(to right, #F2732E 0%, 13.945578231292515%, #F31544 27.89115646258503%, 39.35860058309038%, #7C01F2 50.82604470359572%, 63.16812439261419%, #A70084 75.51020408163265%, 87.75510204081633%, #FF9D01 100%),

    /* Gradient in RGBA */
    linear-gradient(to right, rgba(242, 115, 46, 1) 0%, 13.945578231292515%, rgba(243, 21, 68, 1) 27.89115646258503%, 39.35860058309038%, rgba(124, 1, 242, 1) 50.82604470359572%, 63.16812439261419%, rgba(167, 0, 132, 1) 75.51020408163265%, 87.75510204081633%, rgba(255, 157, 1, 1) 100%)
    ;
    color: #000;
    border: 1px solid #000;
    padding: 5px 50px;
    font-size: 20px;
    border-radius: 10px;
}

.alert {
    padding: 20px;
    color:red;
    border: 2px solid red;
    background: #fafafa;
    font-size: 32px;
    text-align: center;
    border-radius: 20px;
    margin: auto;
}   